<mat-card>
  <mat-card-header>
    <button mat-raised-button (click)="addData()">
      Add data
    </button>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" border="1px">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
      </ng-container>


      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef> Languages </th>
        <td mat-cell *matCellDef="let element"> {{element.language}} </td>
      </ng-container>

      <ng-container matColumnDef="qualification">
        <th mat-header-cell *matHeaderCellDef>Qualifications</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let qualification of element.qualyfication">
            <div>
              <b>Degree:</b> {{ qualification.degree }}
            </div>
            <div>
              <b>University:</b> {{ qualification.univercity }}
            </div>
            <br>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="skill">
        <th mat-header-cell *matHeaderCellDef> Skill </th>
        <td mat-cell *matCellDef="let element"> {{element.skills}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" class="deleteIcon"
            (click)="removeCart(element.id)">
            <mat-icon>delete</mat-icon>
          </button> </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Edit" class="editIcon"
            [routerLink]="['/edit',element.id]">
            <mat-icon>edit</mat-icon>
          </button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>